APP_ENV="production"
APP_URL="http://localhost:18000"

DB_HOST="postgres-webapp"
DB_PORT="5432"
DB_USER="spotteur"
DB_PASSWORD="spotteur"
DB_NAME="spotteurdb"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="${APP_URL}"

RUSTFS_INITIAL_ACCESS_KEY="rustfsadmin"
RUSTFS_INITIAL_SECRET_KEY="rustfsadmin"

FILESYSTEM_DISK="rustfs"
USE_EXTERNAL_SELENIUM="false"

S3_ENDPOINT="http://host.docker.internal:18002"
S3_REGION="us-east-1" # When using RustFS, this can be any value
S3_ACCESS_KEY="rustfsadmin"
S3_SECRET_KEY="rustfsadmin"
S3_BUCKET="spotteur"

SMTP_HOST="inbucket"
SMTP_PORT="25"
SMTP_SECURE="false"
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM="noreply@example.com"

NOVU_SECRET_KEY=""
NEXT_PUBLIC_NOVU_APP_IDENTIFIER=""
NEXT_PUBLIC_NOVU_BACKEND_URL="https://api.novu.co"
NEXT_PUBLIC_NOVU_WS_URL="wss://ws.novu.co"

TEMPORAL_ADDRESS="temporal:7233"

SELENIUM_REMOTE_URL="http://selenium:4444/wd/hub"

TRUSTED_ORIGINS="${APP_URL}"

BROWSER_ENGINE_TYPE="selenium"

BROWSERLESS_WS_ENDPOINT=""
BROWSERLESS_TOKEN=""

PLAYWRIGHT_CHROME_URL=""
PLAYWRIGHT_EDGE_URL=""
PLAYWRIGHT_FIREFOX_URL=""
