# If you want to run the app on a different port, you can change these values.
# WEBAPP_PORT="18000"
# TEMPORAL_UI_PORT="18001"
# RUSTFS_PORT="18002"
# RUSTFS_CONSOLE_PORT="18003"

# Choose how the app should run.
# Valid values:
# - "production" runs the app with production optimizations.
# - "development" runs the app with hot reloading and development tools.
APP_ENV="production"
APP_URL="http://localhost:18000"
APP_DISABLE_REGISTRATION="false"

# Database configuration
DB_HOST="postgres-webapp"
DB_PORT="5432"
DB_USER="spotteur"
DB_PASSWORD="spotteur"
DB_NAME="spotteurdb"

# Must be at least 32 characters, you may generate one using `openssl rand -base64 32`
BETTER_AUTH_SECRET=""

# By default, Spotteur will run a RustFS server as the filesystem driver.
# If you want to bring your own S3-compatible storage,
# you can set FILESYSTEM_DISK to "s3" and configure the S3_* variables accordingly.
FILESYSTEM_DISK="rustfs"
# If you are using RustFS, set its initial access key and secret key here.
# If you change these values, don't forget to update S3_ACCESS_KEY and S3_SECRET_KEY.
RUSTFS_INITIAL_ACCESS_KEY="rustfsadmin"
RUSTFS_INITIAL_SECRET_KEY="rustfsadmin"

S3_ENDPOINT="http://host.docker.internal:18002"
S3_REGION="us-east-1" # When using RustFS, this can be any value
S3_ACCESS_KEY="rustfsadmin"
S3_SECRET_KEY="rustfsadmin"
S3_BUCKET="spotteur"

# SMTP configuration, required for forgot password email notifications
SMTP_HOST="inbucket"
SMTP_PORT="25"
SMTP_SECURE="false"
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM="noreply@example.com"

# Novu configuration, required for email notifications and in-app notifications
NOVU_SECRET_KEY=""
NOVU_APP_IDENTIFIER=""
NOVU_BACKEND_URL="https://api.novu.co"
NOVU_WS_URL="wss://ws.novu.co"

# Temporal server configuration
TEMPORAL_ADDRESS="temporal:7233"
TEMPORAL_DEFAULT_STORAGE_DIR="/storage"

# Choose which browser engine to use.
# By default, Spotteur uses the Selenium engine.
# If you want to use an external Selenium server instead of the built-in one,
# set USE_EXTERNAL_SELENIUM="true" and configure SELENIUM_REMOTE_URL accordingly.
# You can also switch to Playwright or Browserless by changing BROWSER_ENGINE_TYPE.
# Valid values: "selenium", "playwright", "browserless"
BROWSER_ENGINE_TYPE="selenium"

# If USE_EXTERNAL_SELENIUM is set to "true", Spotteur will not start a Selenium server
# Instead, it will connect to the Selenium server specified by SELENIUM_REMOTE_URL.
USE_EXTERNAL_SELENIUM="false"
SELENIUM_REMOTE_URL="http://selenium:4444/wd/hub"

# Browserless configuration, required if BROWSER_ENGINE_TYPE is set to "browserless"
# BROWSERLESS_WS_ENDPOINT=""
# BROWSERLESS_TOKEN=""

# Playwright configuration, required if BROWSER_ENGINE_TYPE is set to "playwright"
# PLAYWRIGHT_CHROME_URL=""
# PLAYWRIGHT_EDGE_URL=""
# PLAYWRIGHT_FIREFOX_URL=""
